/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

/* basic setting */

$black: #000;
$light-black: #2a2a2a;
$dark-gray: #afb1bd;
$light-gray: #f0f0f5;
$white: #fff;
$bright-pink: #f67599;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

/* 使用@each 產出css size設定 */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: $spacer,
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 1.75,
  ),
  8: (
    $spacer * 2,
  ),
);

/* 使用@each 產出css spacer設定 */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  font-family: "PingFang TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
      color: $white;
    }
  }
}

/* style start */

img {
  width: 40px;
}

.container {
  padding: 0 20px;
}

.stepper-panel {
  outline: 2px solid red;
  margin-top: 72px;
  & .step-title {
    font-size: 24px;
  }
  & .stepper-container {
    outline: 2px solid blue;
    display: flex;
    // justify-content: space-between;
    height: 32px;
    & .step {
      outline: 2px solid pink;
      flex: 1;
      display: flex;
      position: relative;
      @include getStepNums(3);
      & .circle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: $black;
        border-radius: 50%;
        color: $white;
      }
      & .connect-line-left,
      .connect-line-right {
        z-index: 20;
        position: absolute;
        top: 16px;
        height: 1px;
        background-color: $light-gray;
      }
      & .connect-line-left {
        right: calc(-50% + 35%);
        left: calc(16px + 35%);
      }
      & .connect-line-right {
        right: calc(16px + 35%);
        left: calc(-50% + 35%);
        height: 1px;
      }
      & .label-container {
        display: none;
      }
    }
  }
}

.circle-container {
  display: flex;
  flex-direction: row;
  width: 32px;
  height: 32px;
  background-color: $black;
  border-radius: 50%;
  color: $white;
}
