/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

/* basic setting */

$black: #000;
$light-black: #2a2a2a;
$dark-gray: #afb1bd;
$light-gray: #f0f0f5;
$white: #fff;
$bright-pink: #f67599;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

/* 使用@each 產出css size設定 */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: $spacer,
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 1.75,
  ),
  8: (
    $spacer * 2,
  ),
);

/* 使用@each 產出css spacer設定 */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  font-family: "PingFang TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
      color: $dark-gray;
    }
  }
}

/* style start */
.container {
  width: 95%;
  margin: 0 auto;
}
.step-title {
  font-size: 24px;
}
.main-container {
  margin-top: 48px;
}

// stepper
.stepper-panel {
  outline: 2px solid red;
  & .stepper-container {
    outline: 2px solid blue;
    display: flex;
    height: 32px;
    & .step {
      outline: 2px solid pink;
      flex: 1;
      display: flex;
      position: relative;
      @include getStepNums(3);
      &.active,
      &.checked {
        & .circle-container {
          background-color: $black;
          &::after {
            color: $white;
          }
        }
        & .connect-line {
          background-color: $black;
        }
      }
      &.checked {
        & .circle-container {
          &::after {
            content: "\2714";
          }
        }
      }
      & .circle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: 1px solid $dark-gray;
        border-radius: 50%;
        color: $dark-gray;
      }
      & .connect-line {
        z-index: 20;
        position: absolute;
        top: 16px;
        height: 1px;
        background-color: $dark-gray;
      }
      & .connect-line-left {
        left: calc(16px + 35%);
        right: calc(-50% + 35%);
      }
      & .connect-line-right {
        left: calc(50% + 35%);
        right: calc(-100% + 16px + 35%);
      }
      & .label-container {
        display: none;
      }
    }
  }
}

// form 共用樣式
.current-part-title {
  margin-bottom: 24px;
}

%input-style {
  margin-bottom: 24px;
  padding-left: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid $light-black;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  @extend %input-style;
}

select {
  -webkit-appearance: none;
  @extend %input-style;
  background-color: transparent;
}

// form: address-section
.address-section {
  & .form-row {
    & option {
      background-color: $dark-gray;
    }
    & .select-wrapper {
      position: relative;
      margin-bottom: 24px;
      height: 40px;
      z-index: 0;
    }
    & .select-wrapper::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      content: "";
      border-top: 6px solid $black;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      z-index: -1;
    }
  }
  & .name-area-wrapper {
    display: flex;
    justify-content: space-between;
    & .name-area-sex {
      flex-basis: 35%;
    }
    & .name-area-name {
      flex-basis: 55%;
    }
  }
}

// form: ship-section
.ship-section {
  .ship-way-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    height: 60px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    & .ship-way {
      display: flex;
      align-items: center;
      flex-basis: 37%;
      height: 100%;
      padding-left: 15px;
    }
    & input[type="radio"] {
      -webkit-appearance: none;
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $black;
      border-radius: 50%;
    }
    & input[type="radio"]:focus {
      box-shadow: inset 0 0 0 5px $black;
    }
    & label {
      display: inline-block;
      margin: 0 0 0 15px;
      font-size: 14px;
      white-space: nowrap;
      &.DHL-label::first-line {
        font-weight: 800;
      }
    }
    & .ship-price {
      margin-right: 34px;
      white-space: nowrap;
      font-size: 14px;
    }
  }
}

// form pay-section
.pay-section {
  & .form-row:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .pay-half-area {
      flex-basis: 45%;
    }
  }
}

//cart
$cart-height: 358px;
$section-margin: 32px;
$button-margin: 24px;

.cart {
  height: $cart-height;
  & h4 {
    display: none;
  }
  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    border: 1px solid $light-gray;
    border-radius: 8px;
  }
  & .container::after {
    content: "";
    position: absolute;
    top: $cart-height + $section-margin;
    bottom: $cart-height + $section-margin + 1px;
    width: 100%;
    border-top: 1px solid $light-gray;
  }
  & .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 102px;
    padding: 0px 10px 0;
    & .product-info {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
      width: 50%;
      height: 90%;
      & h5 {
        font-size: 16px;
        & span {
          visibility: hidden;
        }
      }
      & .amount-area {
        display: flex;
        justify-content: space-between;
        width: 80%;
        & i {
          width: 26px;
          height: 26px;
          background-color: $light-gray;
          border-radius: 50%;
          font-size: 16px;
          text-align: center;
        }
        & i,
        & p {
          line-height: 26px;
        }
      }
    }
    & img {
      margin-right: 10px;
      width: 100px;
      height: 100px;
    }
  }
  & .product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 50px;
    border-top: 1px solid $light-gray;
  }
}

// button
.control-panel-wrapper {
  position: relative;
}

.control-panel {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: $cart-height + $section-margin + $button-margin;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  & .btn {
    position: relative;
    height: 46px;
    border-radius: 8px;
    &::before,
    & span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      font-size: 20px;
    }
  }
  & .btn-outline {
    width: 30%;
    background-color: pink;
    &::before {
      left: 0;
      content: "\27F5";
    }
  }
  & .btn-primary {
    width: 100%;
    background-color: #f67599;
    color: #fff;
    &::before {
      right: 25%;
      content: "\2192";
    }
    & span {
      right: 50%;
    }
  }
}

.btn-outline {
  &.btn-mobile-half {
    display: block;
  }
}

.btn-primary {
  &.btn-mobile-half {
    width: 156px;
    &::before {
      right: 25%;
      content: "\2192";
    }
    & span {
      right: 50%;
    }
  }
}

.form-panel {
  outline: 2px solid red;
  & .control-panel {
    outline: 2px solid blue;
  }
}

.right-content {
  outline: 2px solid green;
}

@media screen and (min-width: 375px) {
  // 大排版
  .main-container {
    display: flex;
    justify-content: space-around;
  }
  .left-content {
    outline: 2px solid green;
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 492px;
  }
  .form-panel {
    flex: 1;
    & .container {
      height: 100%;
    }
  }
  #a-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    & .form-content {
      flex: 1;
    }
  }
  .right-content {
    width: 40%;
    height: 492px;
  }

  // 區塊裡面排版
  // address-section
  .form-content {
    & .address-section {
      & .part-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0 30px;
        & .form-row:nth-child(1) {
          grid-column: 1/7;
        }
        & .form-row:nth-child(2) {
          grid-column: 1/4;
        }
        & .form-row:nth-child(3) {
          grid-column: 4/7;
          padding-top: 2px;
        }
        & .form-row:nth-child(4) {
          grid-column: 1/3;
        }
        & .form-row:nth-child(5) {
          grid-column: 3/7;
        }
      }
    }
  }

  // ship-section
  .form-content {
    & .ship-section {
      & .ship-way-wrapper {
        width: 80%;
      }
    }
  }

  // pay-section
  .form-content {
    & .pay-section {
      & .part-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0 30px;
        & .form-row:nth-child(1) {
          grid-column: 1/5;
        }
        & .form-row:nth-child(2) {
          grid-column: 1/5;
        }
        & .form-row:nth-child(3) {
          grid-column: 1/7;
        }
      }
    }
  }

  .control-panel-wrapper {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -24px;
      width: 100%;
      border-top: 1px solid black;
    }
  }

  .control-panel {
    position: static;
    transform: translateX(0);
    & .btn-outline {
      display: block;
    }
    & .btn-primary {
      width: 174px;
    }
  }
}
